input{
    border: none;
    outline: none;
    border-color: white;
}
input:focus{
    border: none;
    outline: none;
    border-color: white;
}

input:active{
    border: none;
    outline: none;
}

input::-moz-focus-inner{
    border: none;
    outline: none;
}

*:focus {
    outline: 0;
}

#newLabel{
    border: none;
    outline: none;

}